* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.regform {
    background-color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 480px;
    padding: 40px;
    margin-top: 120px;
    border: solid 1px #D0D0D0;
}

header {
    background-color: #3B5998;
    height: 82px;
}

form {
    text-align: right;
    color: #666666;
    background-color: transparent;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    line-height: 16.63px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: right;
    text-indent: 0px;
    margin-right: 120px;
}

.logo {
    float: left;
    margin-left: 300px;
    margin-top: 28px;
}

.pfrmtxt {
    color: #333333;
    background-color: transparent;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height: 14.08px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    text-indent: 0px;
}


